<div>
  <label for="cardNumber">Card Number:</label>
  <input id="" type="text" required="required" [(ngModel)]="cardNumber" />
</div>
<div>
  <label for="securityCode">Security Code:</label>
  <input id="" type="text" required="required" [(ngModel)]="securityCode" />
</div>
<div>
  <label for="expiryDate">Expiration Date:</label>
  <input id="" type="text" required="required" [(ngModel)]="expiryDate" />
</div>
<div *ngIf="!isValid">Cannot be empty</div>
<button (click)="submitPayment()">Submit Payment</button>
