<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a routerLink="" class="navbar-brand">Home</a>
    </li>
    <!-- <li class="nav-item">
      <a routerLink="about" class="navbar-brand">About</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="" class="navbar-brand">Our nav bar</a>
    </li> -->
    <li class="nav-item">
      <a href="#" (click)="collapseOnClick()" class="navbar-brand">Login</a>
      <!-- <a href="#" class="navbar-brand" data-toggle="dropdown">Login</a> -->
      <div *ngIf="collapse">
        <a routerLink="adminlogin" class="dropdown navbar-brand">As Admin</a>
        <br />
        <a routerLink="login" class="dropdown navbar-brand">As User</a>
      </div>
    </li>
    <li class="nav-item">
      <a routerLink="register" class="navbar-brand">Register</a>
    </li>
    <li class="nav-item">
      <a routerLink="cart" class="navbar-brand">My Shopping Cart</a>
    </li>
  </ul>
  <span *ngIf="loggedIn" class="navbar-text">Hello!</span>
</nav>
