<div>
  <label for="username">Username:</label>
  <input
    id="username"
    type="text"
    [(ngModel)]="userUsername"
    required="required"
  />
</div>
<div>
  <label for="logPassword">Password:</label>
  <input
    id="logPassword"
    type="password"
    [(ngModel)]="userPassword"
    required="required"
  />
</div>
<button (click)="submitUser()" routerLink="/packages">Submit</button>
<p *ngIf="isNotValid">Wrong username or password! Try Again.</p>
<!-- This links to the page where the user views the package dashboard and adds to his cart -->
